@charset "UTF-8";
/*------------------------------------------------------

 reset

/*-----------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

ol,
ul {
  list-style: none;
}

/*------------------------------------------------------

 module

/*-----------------------------------------------------*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-size: 1.5rem;
  color: #1a1a1a;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

p,
a,
li,
table,
tr,
td,
span {
  font-size: 1.5rem;
  line-height: 1.6;
}

@media (min-width: 768px) {
  p,
  a,
  li,
  table,
  tr,
  td,
  span {
    line-height: 1.8;
  }
}

a {
  color: #1a1a1a;
  transition: 0.2s;
  text-decoration: none;
}

a:hover {
  transition: 0.2s;
  color: #1a1a1a;
  text-decoration: none;
}

@media (min-width: 768px) {
  .d-md-none {
    display: none;
  }
}

/*------------------------------------------------------
見出し
/*-----------------------------------------------------*/
h1 {
  font-size: 2.2rem;
  font-family: "Noto Serif JP", serif;
  color: #fff;
  text-align: center;
  line-height: 1.7;
  letter-spacing: 2px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 1.8rem;
  font-family: "Noto Serif JP", serif;
  letter-spacing: 1.5px;
  line-height: 1.7;
}

@media (min-width: 768px) {
  h3 {
    font-size: 2.6rem;
  }
}

.subtitle {
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 1.6rem;
  }
}

.contents-title {
  text-align: center;
  color: #171c61;
  margin-bottom: 40px;
  font-size: 3.5rem;
  font-family: "Noto Serif JP", serif;
  letter-spacing: 1.5px;
  font-weight: 400;
  color: #1a1a1a;
}

@media (min-width: 768px) {
  .contents-title {
    font-size: 4rem;
  }
}

.contents-title .subtitle {
  margin-top: 10px;
  display: block;
}

/*------------------------------------------------------
フォントサイズ調整
/*-----------------------------------------------------*/
/*------------------------------------------------------
リード
/*-----------------------------------------------------*/
.main-visual picture img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.pr-lead-wrapper {
  background: #968767 url("/images/lead_bg.png") repeat;
  padding: 30px;
}

/*------------------------------------------------------
当店のこだわり
/*-----------------------------------------------------*/
.committed-wrapper {
  text-align: center;
  padding: 30px 15px 0px;
}

@media (min-width: 768px) {
  .committed-wrapper {
    padding: 70px 0 0;
  }
}

.committed-wrapper .committed-lead {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .committed-wrapper .committed-lead {
    text-align: left;
  }
}

.committed-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .committed-inner {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .committed-inner .committed-image {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .committed-inner .committed-image {
    margin-bottom: 15px;
  }
}

.committed-inner .committed-image img {
  object-fit: cover;
}

@media (min-width: 768px) {
  .committed-inner .committed-image img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .committed-inner .committed-text {
    width: 45%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 50px;
  }
}

.committed-inner .committed-text h3 {
  color: #968767;
  margin-bottom: 30px;
}

.committed-inner .committed-text .text {
  margin-bottom: 30px;
  text-align: left;
}

.committed-inner .committed-text .image-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.committed-inner .committed-text .image-box img {
  width: 48%;
}

@media (min-width: 768px) {
  .committed-inner .committed-text .image-box img {
    width: 48%;
  }
}

@media (min-width: 768px) {
  .committed-inner.pattern-2 {
    flex-flow: row-reverse;
  }
}

/*------------------------------------------------------
人気のご利用シーン
/*-----------------------------------------------------*/
.scene-wrapper {
  background-color: #f4f3ef;
  padding: 30px 15px;
}

@media (min-width: 768px) {
  .scene-wrapper {
    padding-bottom: 70px;
  }
}

.scene-wrapper h2 {
  text-align: center;
  margin-bottom: 40px;
}

.scene-wrapper h2 .subtitle {
  color: #968767;
}

.scene-innner {
  max-width: 540px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .scene-innner {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.scene-innner .scene-box-1:before {
  background-image: url("/images/party-elected_02.png");
}

.scene-innner .scene-box-2:before {
  background-image: url("/images/party-elected_02.png");
}

.scene-innner .scene-box-3:before {
  background-image: url("/images/party-elected_02.png");
}

.scene-innner .scene-box::before {
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: contain;
  vertical-align: middle;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .scene-innner .scene-box::before {
    margin-left: -20px;
  }
}

.scene-innner .scene-box {
  background-color: #fff;
  padding: 0 15px 30px;
}

.scene-innner .scene-box:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .scene-innner .scene-box:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .scene-innner .scene-box {
    width: 27%;
    padding: 0 20px 60px;
    position: relative;
  }
}

.scene-innner .scene-box .scene-image {
  text-align: center;
  width: 50%;
  margin: 0 auto 20px;
}

.scene-innner .scene-box .scene-title {
  color: #968767;
  text-align: center;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .scene-innner .scene-box .scene-title {
    font-size: 1.9rem;
  }
}

.scene-innner .scene-box .scene-text {
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .scene-innner .scene-box .scene-text {
    font-size: 1.5rem;
  }
}

.scene-innner .scene-box .recommend-btn {
  text-align: center;
  padding: 5px;
  width: 80%;
  max-width: 250px;
  margin: 0 auto;
  background-color: #968767;
  display: block;
}

@media (min-width: 768px) {
  .scene-innner .scene-box .recommend-btn {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
  }
}

.scene-innner .scene-box .recommend-btn span {
  border: 1px solid #fff;
  background-color: #968767;
  font-family: "Noto Serif JP", serif;
  color: #fff;
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
}

/*------------------------------------------------------
選べる５会場
/*-----------------------------------------------------*/
.hall-guide-wrapper {
  padding: 30px 0;
}

.hall-guide-container {
  background: linear-gradient(to bottom, #d6d5d5, #fff 30%);
}

.hall-guide-inner {
  dmax-width: 540px;
  margin: 0 auto;
  padding: 30px 15px;
}

@media (min-width: 768px) {
  .hall-guide-inner {
    max-width: 1200px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.hall-guide-inner .hall-image {
  text-align: center;
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .hall-guide-inner .hall-image {
    margin-bottom: 30px;
  }
}

.hall-guide-inner .hall-image img {
  width: 100%;
}

@media (min-width: 768px) {
  .hall-guide-inner .hall-guide-box {
    display: flex;
    align-items: center;
  }
}

.hall-guide-inner .about-hall {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .hall-guide-inner .about-hall {
    margin-right: 30px;
    margin: 0 auto;
    width: 48%;
  }
}

.hall-guide-inner .hall-name {
  margin-bottom: 10px;
  color: #171c61;
  font-size: 2.3rem;
}

@media (min-width: 768px) {
  .hall-guide-inner .hall-name {
    font-size: 3rem;
  }
}

.hall-guide-inner .hall-text {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .hall-guide-inner .hall-text {
    font-size: 1.4rem;
  }
}

.hall-guide-inner .hall-people {
  font-family: "Noto Serif JP", serif;
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .hall-guide-inner .hall-people {
    font-size: 2rem;
  }
}

.hall-guide-inner .hall-people:not(:last-child) {
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .hall-detail {
    width: 48%;
  }
}

.hall-detail dl {
  display: flex;
  flex-wrap: wrap;
}

.hall-detail dt,
.hall-detail dd {
  padding: 10px 0 10px 10px;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .hall-detail dt,
  .hall-detail dd {
    padding: 15px 0 15px 10px;
  }
}

.hall-detail dt {
  width: 30%;
  background-color: #171c61;
  color: #fff;
  margin-right: 5px;
}

.hall-detail dd {
  width: 62%;
  background-color: #f6f6f6;
}

@media (min-width: 768px) {
  .hall-detail .last {
    margin-bottom: 0;
  }
}

/*------------------------------------------------------
SERVICE
/*-----------------------------------------------------*/
.service-wrapper {
  padding: 30px 15px;
  background-color: #eef3f9;
}

@media (min-width: 768px) {
  .service-wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.service-inner {
  max-width: 1200px;
  margin: 0 auto;
}

.service-inner .service-lead {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .service-inner .service-lead {
    text-align: center;
  }
}

.service-list-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .service-list-box::before {
    content: "";
    display: block;
    width: 23%;
    order: 1;
  }
  .service-list-box::after {
    content: "";
    display: block;
    width: 23%;
  }
}

.service-list-box .service-item {
  width: 48%;
  margin-bottom: 20px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .service-list-box .service-item {
    width: 23%;
    margin-bottom: 30px;
  }
  .service-list-box .service-item:nth-child(4n + 1):nth-last-child(-n + 4),
  .service-list-box .service-item:nth-child(4n + 1):nth-last-child(-n + 4) ~ li {
    margin-bottom: 0px;
  }
}

.service-list-box .service-item img {
  width: 100%;
}

.service-list-box .service-item figcaption {
  display: block;
  font-size: 1.3rem;
  padding: 10px;
}

@media (min-width: 768px) {
  .service-list-box .service-item figcaption {
    font-size: 1.5rem;
    text-align: center;
  }
}

/*------------------------------------------------------
DRINK
/*-----------------------------------------------------*/
.drink-inner {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.drink-list-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.drink-list-cont .drink-list-box {
  width: 100%;
}

@media (min-width: 768px) {
  .drink-list-cont .drink-list-box {
    width: 48%;
  }
}

.drink-list-cont .drink-list-box .bl_drink-cate {
  margin-bottom: 15px;
}

.drink-list-cont .drink-list-box .bl_drink-cate h4 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 1.3rem;
  font-weight: 700;
}

.drink-list-cont .drink-list-box .bl_drink-cate span {
  font-size: 1.3rem;
}

/*------------------------------------------------------
STAFF
/*-----------------------------------------------------*/
/*# sourceMappingURL=style.css.map */