/*------------------------------------------------------
当店のこだわり
/*-----------------------------------------------------*/
.committed-wrapper {
  text-align: center;
  padding: 30px 15px 0px;
  @include pc {
    padding: 70px 0 0;
  }

  .committed-lead {
    margin-bottom: 40px;
    @include under-pc {
      text-align: left;
    }
  }
}

.committed-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include under-pc {
    margin-bottom: 30px;
  }
  .committed-image {
    @include pc {
      width: 50%;
    }
    @include under-pc {
      margin-bottom: 15px;
    }
    img {
      object-fit: cover;
      @include pc {
        height: 100%;
        width: 100%;
      }
    }
  }
  .committed-text {
    @include pc {
      width: 45%;
      margin: 0 auto;
      padding-top: 25px;
      padding-bottom: 50px;
    }
    h3 {
      color: $brown;
      margin-bottom: 30px;
    }

    .text {
      margin-bottom: 30px;
      text-align: left;
    }
    .image-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      img {
        width: 48%;
        @include pc {
          width: 48%;
        }
      }
    }
  }
}

.committed-inner.pattern-2 {
  @include pc {
    flex-flow: row-reverse;
  }
}
