/*------------------------------------------------------
リード
/*-----------------------------------------------------*/

.main-visual {
  picture {
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
}
.pr-lead-wrapper {
  background: $brown url("/images/lead_bg.png") repeat;
  padding: 30px 15px;
}
h1 {
  font-size: 1.6rem;
  font-family: "Noto Serif JP", serif;
  color: #fff;
  text-align: center;
  line-height: 1.7;
  letter-spacing: 2px;
  @include pc {
    font-size: 3.2rem;
  }
}
