// ブレイクポイント

$sp: 576px;
$under-pc: 767px;
$pc: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

@mixin under-pc {
  @media (max-width: ($under-pc)) {
    @content;
  }
}

@mixin sp {
  @media (min-width: ($sp)) {
    @content;
  }
}

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

@mixin lg {
  @media (min-width: ($lg)) {
    @content;
  }
}

@mixin xl {
  @media (min-width: ($xl)) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: ($xxl)) {
    @content;
  }
}

// フォント定義

// カラー定義
$black: #1a1a1a;
$gray: #444;
$light-gray: #a2a2a2;
$brown: #968767;
$navy: #171c61;
