/*------------------------------------------------------
人気のご利用シーン
/*-----------------------------------------------------*/
.scene-wrapper {
  background-color: #f4f3ef;
  //   padding: 30px 15px;
  @include pc {
    padding-bottom: 70px;
  }
  h2 {
    text-align: center;
    margin-bottom: 40px;
    .subtitle {
      color: $brown;
    }
  }
}

.scene-innner {
  @include pc {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .scene-box-1 {
    &:before {
      background-image: url("/images/party-elected_02.png");
    }
  }
  .scene-box-2 {
    &:before {
      background-image: url("/images/party-elected_02.png");
    }
  }
  .scene-box-3 {
    &:before {
      background-image: url("/images/party-elected_02.png");
    }
  }

  .scene-box {
    &::before {
      top: 0;
      left: 0;
      content: "";
      display: inline-block;
      width: 100px;
      height: 100px;
      background-size: contain;
      vertical-align: middle;
      margin-left: -15px;
      @include pc {
        margin-left: -20px;
      }
    }
  }
  .scene-box {
    background-color: #fff;
    padding: 0 15px 30px;

    &:not(:last-child) {
      margin-bottom: 20px;
      @include pc {
        margin-bottom: 0;
      }
    }

    @include pc {
      width: 27%;
      padding: 0 20px 60px;
      position: relative;
    }

    .scene-image {
      text-align: center;
      width: 50%;
      margin: 0 auto 20px;
    }
    .scene-title {
      color: $brown;
      text-align: center;
      margin-bottom: 20px;

      @include pc {
        font-size: 1.9rem;
      }
    }

    .scene-text {
      margin-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
      @include pc {
        font-size: 1.5rem;
      }
    }
    .recommend-btn {
      text-align: center;
      padding: 5px;
      width: 80%;
      max-width: 250px;
      margin: 0 auto;
      background-color: $brown;
      display: block;

      @include pc {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
      }
      span {
        border: 1px solid #fff;
        background-color: $brown;
        font-family: "Noto Serif JP", serif;
        color: #fff;
        display: block;
        padding-top: 3px;
        padding-bottom: 3px;
        display: block;
      }
    }
  }
}
